<div class="container trips-container">

  <div class="row">
    <div id="trips-left" class="col s12 m4 center-align">
      <div>
        <%= link_to '<i class="zmdi zmdi-long-arrow-return"></i>'.html_safe, user_trips_path, remote: true, class: "return-trip-btn" %>
        <h5>My Trips</h5>
        <%= link_to '<i class="zmdi zmdi-collection-plus"></i>'.html_safe, new_trip_path, remote: true, class: "add-trip-btn" %>
      </div>
      <div class="row collection-row">
        <div class="collection">
          <% @trips.each do |trip| %>
            <a href="javascript:void(0)" class="collection-item trip-<%= trip.id %>"><%= trip.title %></a>
          <% end %>
          <!-- <div class="collection-item">
  
          </div>  --><!-- End colection-item -->

        </div>
      </div>
    </div> <!--End col s5-->
    <div id="trips-right" class="col s12 m8">
      <%= render "map" %>
    </div>
  </div>
</div>

