
      <div class="col s12">
        <%= form_for @trip do |f| %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :title %>
              <%= f.text_field :title %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <%= f.country_select :country, { include_blank: true } %>
              <%= f.label :country %>
            </div>
            <div class="input-field col s12 m6">
              <%= f.label :city %>
              <%= f.text_field :city %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <%= f.label :start_date, class: "active" %>
              <%= f.date_field :start_date, class: "datepicker" %>
            </div>
            <div class="input-field col s12 m6">
              <%= f.label :end_date, class: "active" %>
              <%= f.date_field :end_date, class: "datepicker" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :body, "Trip" %>
              <%= f.text_area :body, class: "materialize-textarea", length: 500 %>
            </div>
          </div>
          <div class="col s12 center-align">
        <%= button_tag( :class => "btn waves-effect waves-light" ) do %>
          Save Trip <i class='material-icons right'>send</i>
        <% end %>
      </div>
        <% end %>
      </div>
 