<div class="container">

  <h4 class="center-align">User Login</h4>

  <div class="row">
    <%= form_tag sessions_path, {class: 'col s12 l6 offset-l3'} do %>
    <div class="row">
      <div class="input-field col s6">
        <%= label_tag :email%>
        <%= email_field_tag :email %>
      </div>
      <div class="input-field col s6">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <%= button_tag( :class => "btn waves-effect waves-light" ) do %>
        Login <i class='material-icons right'>send</i>
      <% end %>
    </div>
  </div>
  <% end %> <!-- End form -->

  <div class="row center-align">
    <div class="col s12">
      <p>Or</p>
    </div>
  </div>

  <div class="row center-align">
    <div class="col s12">
      <%= link_to "<i class='fa fa-twitter-square'>&nbsp Twitter</i>".html_safe, sign_in_with_twitter_path, class: "waves-effect waves-light btn" %> 
    </div>
  </div>
  <div class="row center-align">
    <div class="col s12">
      <%= link_to "<i class='fa fa-facebook-official'>&nbsp Facebook</i>".html_safe, sign_in_with_facebook_path, class: "waves-effect waves-light btn" %>  
    </div>
  </div>
  <div class="row center-align">
    <div class="col s12">
      <%= link_to "<i class='fa fa-google-plus-square'>&nbsp Google</i>".html_safe, sign_in_with_google_path, class: "waves-effect waves-light btn" %> 
    </div>
  </div>




</div>